@import url('https://fonts.cdnfonts.com/css/circular-std');

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  box-sizing: border-box;
  font-family: 'Circular Std', sans-serif;
  /* outline: 1px solid green !important; */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  /* Важно, не трогать! */
}

.body {
  width: 100%;
  height: calc(100vh - 72px);
  background-color: black;
  display: flex;
  gap: 8px;
  padding: 8px;
}

aside {
  width: 420px;
  height: 100%;
  flex-shrink: 0;
  display: flex;
  border-radius: 20px;
  flex-direction: column;
  gap: 8px;
}

.top_aside {
  height: 112px;
  width: 100%;
  border-radius: 5px;
  flex-shrink: 0;
  padding: 8px 12px;
  background-color: #121212;
}

.bottom_aside {
  flex-grow: 1;
  width: 100%;
  padding: 8px 12px;
  border-radius: 5px;
  background-color: #121212;
}

main {
  flex-grow: 1;
  width: 100%;
  border-radius: 5px;
  overflow-y: auto;
  background: linear-gradient(180deg, #159b44 0%, #121212 30%);
}

.aside_part {
  height: 48px;
  flex-grow: 1;
  display: flex;
  font-weight: 700;
  color: white;
  align-items: center;
  opacity: 0.7;
  cursor: pointer;
  transition: 0.3s ease;
  gap: 20px;
}

.active_aside_part {
  opacity: 1;
}

.aside_part:hover {
  opacity: 1;
}

.aside_part_two {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.aside_icon {
  width: 24px;
  height: 24px;
}

.aside_text {
  height: fit-content;
  font-weight: 700;
  color: white;
}

.add_playlist {
  width: 30px;
  height: 30px;
  outline: none;
  cursor: pointer;
  border: none;
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
  opacity: 0.7;
  border-radius: 50%;
  background-color: transparent;
}

.add_playlist::after {
  content: '';
  position: absolute;
  z-index: 0;
  width: 100%;
  opacity: 0;
  height: 100%;
  transition: 0.3s ease;
  border-radius: 100%;
  background-color: #3c3c3c;
}

.add_playlist:hover {
  opacity: 1;
}

.add_playlist:hover::after {
  opacity: 100%;
}

.invert {
  filter: invert(100%);
}

.icon_aside {
  width: 80%;
  height: auto;
  position: relative;
  z-index: 1;
}

.aside_buttons {
  width: 100%;
  padding: 8px 0;
  align-items: center;
  display: flex;
  gap: 10px;
}

.aside_button {
  background-color: #2A2A2A;
  padding: 8px 12px;
  border: none;
  outline: none;
  font-size: 14px;
  color: white;
  transition: 0.3s ease;
  cursor: pointer;
  border-radius: 15px;
}

.aside_button:hover {
  background-color: #3c3c3c;
}

.search_aside_icon {
  width: 50%;
}

.aside_listened {
  display: flex;
  align-items: center;
  gap: 5px;
  font-weight: 400 !important;
  padding-right: 12px;
  transition: 0.1s;
  color: white;
  opacity: 0.7;
}

.aside_listened:hover {
  transform: scale(1.05);
  opacity: 1;
}

.aside_listened:active {
  transform: scale(1);
  opacity: 0.7;
}

.buttons_listened {
  transition: 0.3s ease;
  cursor: pointer;
  justify-content: space-between;
}

.listened_icon {
  height: fit-content;
}

.aside_playlists {
  width: 100%;
}

.aside_playlist_item {
  width: 100%;
  height: 64px;
  padding: 8px;
  transition: 0.3s ease;
  cursor: pointer;
  gap: 10px;
  border-radius: 5px;
  display: flex;
}

.aside_playlist_img {
  width: auto;
  border-radius: 5px;
}

.aside_playlist_data {
  display: flex;
  color: white;
  flex-direction: column;
  justify-content: center;
}

.aside_playlist_type {
  color: #787878;
}

.aside_playlist_item:hover {
  background-color: #2A2A2A;
}

.aside_playlist_item:active {
  background-color: black;
}

.aside_icon {
  display: block;
}

.aside_icon_two {
  display: none;
}

.active_aside_part .aside_icon {
  display: none;
}

.active_aside_part .aside_icon_two {
  display: block;
}

.player {
  width: 100%;
  height: 72px;
  padding: 0 8px;
  display: flex;
  color: white;
  justify-content: space-between;
  align-items: center;
  background-color: black;
}

/* Hide aside */
.hide_aside .aside_listened {
  display: none;
}

.hide_aside .add_playlist {
  display: none;
}

.hide_aside .aside_buttons {
  display: none;
}

.hide_aside .aside_text {
  display: none;
}

.hide_aside .aside_playlist_data {
  display: none;
}

.hide_aside .aside_playlist_item {
  padding: 8px 0;
}

.hide_aside {
  width: 72px;
}

.hide_aside .aside_part {
  justify-content: center;
}

.hide_aside .aside_part .library_icon_aside {
  display: none;
}

header {
  width: 95%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 50px;
}

header .first {
  display: flex;
  padding: 15px 0px;
  align-items: center;
  justify-content: space-between;


}

.sec_ul {
  display: flex;
  list-style-type: none;
  gap: 10px;
}

.cat {
  padding: 6px 13px;
  background-color: rgb(63, 63, 63);
  border-radius: 15px;
  transition: .2s;
}


.cat:active {
  scale: .9;
}


.cat_a {
  color: white;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
}

.dog {
  background-color: white;
}

#um {
  background-color: white;
}

#um a {
  color: black;
}



.arrows {
  display: flex;
  align-items: center;
  gap: 10px;
}

.arrows img {
  cursor: pointer;
  width: 35px;


}

.arrows .left {
  background-color: #181818;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .1s;
}

.arrows .left:active {
  scale: .9;
}

.arrows .right {
  transform: rotate(180deg);
  background-color: #181818;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .1s;
}


.arrows .right:active {
  scale: .9;
}

.additional_features {
  display: flex;
  align-items: center;
  gap: 16px;
}

.premium_text {
  background-color: #fff;
  color: #000;
  font-size: 14px;
  padding: 8px 20px 8px 20px;
  border-radius: 16px;
  font-weight: 600;
  cursor: pointer;
}

.install_text {
  background-color: #000;
  padding: 5px 15px 5px 15px;
  border-radius: 16px;
  font-size: 14px;
  color: white;
  font-weight: 600;
  display: flex;
  gap: 5px;
  align-items: center;
  cursor: pointer;
  transition: .1s;
}

.hide_aside .aside_part .library_icon_aside_two {
  display: block;
}


header {
  width: 95%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 50px;
}

header .first {
  display: flex;
  padding: 15px 0px;
  align-items: center;
  justify-content: space-between;


}

.sec_ul {
  display: flex;
  list-style-type: none;
  gap: 10px;
}

.cat {
  padding: 6px 13px;
  background-color: rgb(63, 63, 63);
  border-radius: 15px;
  transition: .2s;
}


.cat:active {
  scale: .9;
}


.cat_a {
  color: white;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
}

.dog {
  background-color: white;
}

#um {
  background-color: white;
}

#um a {
  color: black;
}



.arrows {
  display: flex;
  align-items: center;
  gap: 10px;
}

.arrows img {
  cursor: pointer;
  width: 35px;


}

.arrows .left {
  background-color: #181818;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .1s;
}

.arrows .left:active {
  scale: .9;
}

.arrows .right {
  transform: rotate(180deg);
  background-color: #181818;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .1s;
}


.arrows .right:active {
  scale: .9;
}

.additional_features {
  display: flex;
  align-items: center;
  gap: 16px;
}

.premium_text {
  background-color: #fff;
  color: #000;
  font-size: 14px;
  padding: 8px 20px 8px 20px;
  border-radius: 16px;
  font-weight: 600;
  cursor: pointer;
}

.install_text {
  background-color: #000;
  padding: 5px 15px 5px 15px;
  border-radius: 16px;
  font-size: 14px;
  color: white;
  font-weight: 600;
  display: flex;
  gap: 5px;
  align-items: center;
  cursor: pointer;
  transition: .1s;
}

.install_text span {
  display: flex;
  align-items: center;
}


.install_text img {
  width: 21px;
}

.account_blc {
  width: fit-content;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 11px;
  border-radius: 40px;
  background-color: #000000CC;
  padding: 6px;
  cursor: pointer;
}

.account_blc p {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #6b21a8;
  color: #fff;
  width: 34px;
  height: 34px;
  border-radius: 100%;
}

.filterable {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 16px;
}

.filterable p {
  background-color: #000;
  padding: 4px 16px 4px 16px;
  border-radius: 16px;
  cursor: pointer;
}

.filterable p.active {
  background-color: #fff;
  color: #000;
}

.album_blc {
  margin-bottom: 16px;
}

.album_blc h1 {
  margin: 20px 0 20px 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
}

.albums {
  display: flex;
  overflow: auto;
}

.album_items_blc {
  min-width: 180px;
  padding: 8px 12px 8px 12px;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.5s ease;
}

.album_items_blc:hover {
  background-color: #ffffff26;
}

.album_items_blc img {
  width: 150px;
  height: 150px;
  border-radius: 4px;
}

.account_blc h4 {
  font-weight: 700;
  margin: 8px 0 0 4px;
}

.account_blc p {
  color: #fff;
  font-size: 14px;
  line-height: 20px;
}

.bell {
  display: flex;
  justify-content: center;
  padding: 8px;
  border-radius: 50%;
  align-items: center;
  background-color: #000;
}

.bell img {
  width: 18px;
}


.person {
  display: flex;
  justify-content: center;
  padding: 8px;
  border-radius: 50%;
  align-items: center;
  background-color: #000;
}

.person img {
  width: 21px;
}

.show {
  background-color: white;
}

.show_a {
  color: black;
}


.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

.box {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 95%;
  margin: 0 auto;
  margin-bottom: 30px;
}

.up {
  display: flex;
  justify-content: space-between;
}

.up h1 {
  font-size: 25px;
  color: white;
}

.up h1:hover {
  text-decoration: underline;
}

.up a {
  color: #bbbbbb;
  font-size: 15px;
}

.up a:hover {
  text-decoration: underline;
}

.item-box {
  display: flex;
  justify-content: space-between;
}

.item-box .item {
  flex-direction: column;
  gap: 5px;
  border-radius: 10px;
  width: calc(190px + 24px);
  padding: 12px;
  transition: .1s;
}

.item-box .item:hover {
  background-color: #1c1c1c;

  .play {
    display: flex;
    bottom: 10px;
    opacity: 100%;
  }
}

.item .first {
  /* padding: 15px 15px 0px 15px; */
  position: relative;
}
.song_img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
}

.song_title {
  color: white;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.song_autor {
  color: #a2a2a2;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.second{
  width: 100%;
}
.play {
  background-color: #1ED760;
  position: absolute;
  bottom: 0px;
  cursor: pointer;
  right: 10px;
  border-radius: 50%;
  justify-content: center;
  opacity: 0;
  transition: 0.3s ease;
  align-items: center;
  display: flex;
  width: 48px;
  height: 48px;
}

.play:hover {
  background-color: #23e467;
  transform: scale(1.1);
}

.play img {
  width: 18px;
  height: auto;
  position: absolute;
}

.player_blc {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 10%;
  background-color: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  padding: 0 16px 0 16px;
}

.playlist_blc {
  display: flex;
  align-items: center;
  gap: 16px;
}

.playlist_blc img {
  width: 48px;
  height: 48px;
  object-fit: cover;
}

.music-player {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 4px;
  margin: 0 auto;
}

.msc_player_icons {
  display: flex;
  gap: 16px;
}

.msc_player_icons i {
  font-size: 32px;
  cursor: pointer;
}

.line_music_plr {
  display: flex;
  align-items: center;
  gap: 20px;
}

.player_play {
  width: 60vw;
  max-width: 500px;
  background-color: #d1d5db;
  border-radius: 30px;
  cursor: pointer;
}

.line_music {
  height: 5px;
  border: none;
  width: 275px;
  background-color: #166534;
  border-radius: 30px;
}

.player_icons {
  display: flex;
  align-items: center;
  gap: 8px;
  opacity: 0.75;
}

.player_icons img {
  width: 16px;
  cursor: pointer;
}

.line_player {
  width: 80px;
  height: 5px;
  background-color: #f9fafb;
  border-radius: 4px;
}